<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex items-center justify-between">
      <a routerLink="/" class="text-white font-semibold text-lg">{{title}}</a>
      <div class="flex space-x-4">
        <a routerLink="/overview" routerLinkActive="active" class="text-white hover:text-gray-300">Overview</a>
        <a routerLink="/detail"  routerLinkActive="active" class="text-white hover:text-gray-300">Detail</a>
        <a routerLink="/search" routerLinkActive="active" class="text-white hover:text-gray-300">Search</a>
      </div>
    </div>
  </nav>
  